<%- include partials/header.ejs %>
<div class="container">
  <div class="block mt-3"></div>
  <div class="block">
    <h1 class="is-size-3">screenshots</h1>
    <p>Below are few screenshots showing the original VS Code theme and generated Emacs and Vim themes.</p>    
  </div>

  <div class="block ">
    <h3 class="is-size-5">Make Apps Theme</h3>
    <hr/>
    <div class="columns">
      <div class="column">
        <p class="has-text-centered">VS Code</p>
        <img alt="" src="https://res.cloudinary.com/dur0cxkf0/image/upload/v1673967873/themeforge/Screenshot_20230117_202830_rheihe.png"/>
      </div>
      <div class="column">
        <p class="has-text-centered">Emacs</p>
        <img alt="" src="https://res.cloudinary.com/dur0cxkf0/image/upload/v1673967873/themeforge/Screenshot_20230117_202214_udgsem.png"/>
      </div>
      <div class="column">
        <p class="has-text-centered">Vim</p>
        <img alt="" src="https://res.cloudinary.com/dur0cxkf0/image/upload/v1673967873/themeforge/Screenshot_20230117_202145_na4yth.png"/>
      </div>
    </div>
  </div>

  <div class="block ">
    <h3 class="is-size-5">Bluloco Light Theme</h3>
    <hr/>
    <div class="columns">
      <div class="column">
        <p class="has-text-centered">VS Code</p>
        <img alt="" src="https://res.cloudinary.com/dur0cxkf0/image/upload/v1673967873/themeforge/Screenshot_20230117_203034_ultyfn.png"/>
      </div>
      <div class="column">
        <p class="has-text-centered">Emacs</p>
        <img alt="" src="https://res.cloudinary.com/dur0cxkf0/image/upload/v1673967873/themeforge/Screenshot_20230117_203026_pe2rul.png"/>
      </div>
      <div class="column">
        <p class="has-text-centered">Vim</p>
        <img alt="" src="https://res.cloudinary.com/dur0cxkf0/image/upload/v1673967873/themeforge/Screenshot_20230117_203013_gtatej.png"/>
      </div>
    </div>
  </div>
    
  <div class="block ">
    <h3 class="is-size-5">Palenight Theme</h3>
    <hr/>
    <div class="columns">
      <div class="column">
        <p class="has-text-centered">VS Code</p>
        <img alt="" src="https://res.cloudinary.com/dur0cxkf0/image/upload/v1673967889/themeforge/Screenshot_20230117_203238_xzx68f.png"/>
      </div>
      <div class="column">
        <p class="has-text-centered">Emacs</p>
        <img alt="" src="https://res.cloudinary.com/dur0cxkf0/image/upload/v1673967889/themeforge/Screenshot_20230117_203226_hm3dbg.png"/>
      </div>
      <div class="column">
        <p class="has-text-centered">Vim</p>
        <img alt="" src="https://res.cloudinary.com/dur0cxkf0/image/upload/v1673967888/themeforge/Screenshot_20230117_203231_c5x2kx.png"/>
      </div>
    </div>
  </div>


</div>
<%- include partials/credits.ejs %>
<%- include partials/footer.ejs %>

