<footer class="footer">
  <div class="content has-text-centered">
    <div class="level">
      <div class="level-item is-justify-content-right">
        <p><strong>themeforge</strong> by Jayaram &nbsp;</p>
      </div>
      <div class="level-item is-justify-content-left"></div>
    </div>
    <div>
			Github: <a href="https://github.com/nice">@nice</a>
		</div>
  </div>
</footer>
