<footer class="footer">
  <div class="content has-text-centered">
    <div class="level">
      <div class="level-item is-justify-content-right">
        <p><strong>themeforge</strong> by Jayaram &nbsp;</p>
      </div>
      <div class="level-item is-justify-content-left"></div>
    </div>
    <div>
      <script
        type="text/javascript"
        src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"
      ></script>
      <script type="text/javascript">
       kofiwidget2.init("Support Me on Ko-fi", "#ff5f5f", "Q5Q0HWTAF");
       kofiwidget2.draw();
      </script>
    </div>
  </div>
</footer>
