<!DOCTYPE html>
<html lang="en">
  <head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D3VPCJWWQ3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D3VPCJWWQ3');
</script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>themeforge</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/dur0cxkf0/image/upload/v1673970038/themeforge/favicon-32x32_kgpfj8.png">
    <link rel="stylesheet" href="<%= meta.basePath %>/main.bundle.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
      />
  </head>
  <body>
    <nav
      class="navbar is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="<%= meta.basePath %>">
            <span class="is-size-4 has-text-weight-medium">themeforge</span
            >&nbsp;<sup>beta</sup>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="<%= meta.basePath %>/screenshots"
              >screenshots</a
            >
            <a class="navbar-item" href="<%= meta.basePath %>/faq">faq</a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <iframe
                  src="https://ghbtns.com/github-btn.html?user=nice&repo=themeforge&type=star&count=true&size=large"
                  frameborder="0"
                  scrolling="0"
                  width="75"
                  height="30"
                  title="GitHub"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
